[Unit]
Description=robonomics-coffee-maker-everscale startup service

After=network.target


[Service]
Type=simple
Restart=always
RestartSec=15

#Edit these lines.
User = pi
ExecStart= /usr/bin/node /home/pi/robonomics-coffee-maker/everscale/main.js

[Install]
WantedBy=multi-user.target 