[Unit]
Description=robonomics-coffee-maker-robonomics-kusama startup service

After=network.target


[Service]
Type=simple
Restart=always
RestartSec=15

#Edit these lines. Insert mnemonic key
User = pi
Environment=seed=""
ExecStart= /usr/bin/python3 /home/pi/robonomics-coffee-maker/robonomics-kusama/main.py ${seed}

[Install]
WantedBy=multi-user.target 